*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
html,body{
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/* navbar styles */
.navbar{
    padding: 20px 10px;
    background: #000016;
    position: relative;
    z-index: 10000;
}
.logo{
    font-size: 20px;
    color: #fff;
}
.container {
    margin: 100px 0;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallary-item{
    width: 400px;
    height: 300px;
    margin: 10px;
}
img.fade{
    opacity: 0.8;
}
/* gallery container styles */
.gallary-container{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    padding: 80px;
    height: 140vh;
    top: -4000%;
}
.gallary-container.active{
    top: 0;
    z-index: 10000;
}
.gallary-container.active ~ .navbar{
    z-index: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding:0 30px;
}
.header .img {
    width: 600px;
    height: 400px;
}
#cancel{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
 button{
    padding: 10px 15px;
    outline: none;
    background: none;
    font-size: 16px;
    border: 1px solid rgb(9, 135, 207);
    color: rgb(9, 135, 255);
}
button:hover{
    box-shadow: 0 0 5px 5px rgb(9, 135, 255);
}
.gallary-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.gallary-footer img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin:5px;
}

@media screen and (max-width:450px) {
    .gallary-container.active{
        height: 170vh;
    }
}

@media screen and (max-width:768px) {
    .container{
        margin: 30px;
    }
    .header{
        padding: 10px;
    }

    .gallary-container.active{
        padding: 50px;
        bottom: 0;
    }
    #cancel{
        top: 14px;
    }
    .gallary-footer{
        flex-wrap: wrap;
    }
    .gallary-footer img{
        width: 100px;
        height: 100px;
    }
}